workflows/linkedin_lead_gen.json
{
  "name": "LinkedIn Lead Generation & Email Outreach",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_INPUT_LIST_SHEET_ID"
        },
        "range": "Sheet1!A:D",
        "options": {
          "returnAll": false,
          "limit": 10
        }
      },
      "id": "get-input-rows",
      "name": "Get Input Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "filter-unprocessed",
      "name": "Filter Unprocessed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR_APOLLO_API_KEY"
            },
            {
              "name": "person_titles",
              "value": "={{ [$json.Keyword] }}"
            },
            {
              "name": "person_locations",
              "value": "={{ $json.Location ? [$json.Location] : [] }}"
            },
            {
              "name": "per_page",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "apollo-search",
      "name": "Apollo.io - Search People",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-profiles",
      "name": "Loop Through Profiles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/people/match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR_APOLLO_API_KEY"
            },
            {
              "name": "linkedin_url",
              "value": "={{ $json.linkedin_url }}"
            },
            {
              "name": "reveal_personal_emails",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "apollo-enrich",
      "name": "Apollo.io - Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "wait-rate-limit",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  \"Name\": ($json.person?.first_name || '') + ' ' + ($json.person?.last_name || ''),\n  \"Company\": $json.person?.organization_name || '',\n  \"Designation\": $json.person?.title || '',\n  \"Email Id\": $json.person?.email || '',\n  \"Phone Number\": $json.person?.phone_numbers?.[0]?.sanitized_number || '',\n  \"Email Sent\": \"No\",\n  \"Response\": \"\",\n  \"linkedin_url\": $json.person?.linkedin_url || ''\n} }}",
        "options": {}
      },
      "id": "format-lead-data",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_LEAD_CONTACT_FORM_SHEET_ID"
        },
        "range": "Sheet1!A:G",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "save-to-lead-form",
      "name": "Save to Lead Contact Form",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1850, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_INPUT_LIST_SHEET_ID"
        },
        "range": "Sheet1!A:D",
        "columnToMatchOn": "Keyword",
        "valueToMatchOn": "={{ $('Get Input Rows').item.json.Keyword }}",
        "fieldsToUpdate": {
          "mapping": [
            {
              "fieldName": "Status",
              "fieldValue": "Completed"
            }
          ]
        },
        "options": {}
      },
      "id": "update-input-status",
      "name": "Mark Input as Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2050, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Id'] }}",
        "subject": "=Quick question about {{ $json.Company }}'s strategy",
        "emailType": "html",
        "message": "=<p>Hi {{ $json.Name.split(' ')[0] }},</p>\n\n<p>I noticed your work as <strong>{{ $json.Designation }}</strong> at <strong>{{ $json.Company }}</strong> and was impressed by your company's achievements.</p>\n\n<p>I'm reaching out because we help companies like yours improve their marketing efficiency and lead generation.</p>\n\n<p>Would you be open to a brief 15-minute call next week to explore if there might be a fit?</p>\n\n<p>Best regards,<br>\n<strong>Pavithra H N</strong><br>\nBusiness Development<br>\nDataToAIGamersRani.com</p>",
        "options": {}
      },
      "id": "send-email-1",
      "name": "Send Email 1 (Initial)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [2250, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_LEAD_CONTACT_FORM_SHEET_ID"
        },
        "range": "Sheet1!A:G",
        "columnToMatchOn": "Email Id",
        "valueToMatchOn": "={{ $json['Email Id'] }}",
        "fieldsToUpdate": {
          "mapping": [
            {
              "fieldName": "Email Sent",
              "fieldValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-email-sent",
      "name": "Mark Email Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2450, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "wait-3-days",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "sender": "={{ $json['Email Id'] }}",
          "subject": "=Re: Quick question about {{ $json.Company }}"
        },
        "options": {}
      },
      "id": "check-response-1",
      "name": "Check for Response",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [2850, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-no-response-1",
      "name": "IF No Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3050, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Lead Data').item.json['Email Id'] }}",
        "subject": "=Re: Quick question about {{ $('Format Lead Data').item.json.Company }}'s strategy",
        "emailType": "html",
        "message": "=<p>Hi {{ $('Format Lead Data').item.json.Name.split(' ')[0] }},</p>\n\n<p>I wanted to follow up on my previous email. I understand you're busy, so I'll keep this brief.</p>\n\n<p>I thought you might find value in our approach that has helped similar companies:</p>\n<ul>\n  <li>Increased lead generation by 40%</li>\n  <li>Reduced marketing costs by 25%</li>\n  <li>Shortened sales cycle by 2 weeks</li>\n</ul>\n\n<p>If this resonates, I'd love to schedule a quick chat. If not, no worries at all!</p>\n\n<p>Best,<br>\n<strong>Pavithra H N</strong></p>",
        "options": {}
      },
      "id": "send-email-2",
      "name": "Send Follow-up Email 2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [3250, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_LEAD_CONTACT_FORM_SHEET_ID"
        },
        "range": "Sheet1!A:G",
        "columnToMatchOn": "Email Id",
        "valueToMatchOn": "={{ $('Format Lead Data').item.json['Email Id'] }}",
        "fieldsToUpdate": {
          "mapping": [
            {
              "fieldName": "Response",
              "fieldValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-response-yes",
      "name": "Mark Response Yes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [3250, 350],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "days"
      },
      "id": "wait-5-days",
      "name": "Wait 5 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3450, 100]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "sender": "={{ $('Format Lead Data').item.json['Email Id'] }}"
        },
        "options": {}
      },
      "id": "check-response-2",
      "name": "Check for Response 2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [3650, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-no-response-2",
      "name": "IF No Response 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3850, 100]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Lead Data').item.json['Email Id'] }}",
        "subject": "=Last attempt - {{ $('Format Lead Data').item.json.Name.split(' ')[0] }}",
        "emailType": "html",
        "message": "=<p>Hi {{ $('Format Lead Data').item.json.Name.split(' ')[0] }},</p>\n\n<p>I don't want to clog your inbox, so this will be my last email.</p>\n\n<p>If you're not the right person to speak with about marketing automation, could you point me in the right direction?</p>\n\n<p>If the timing isn't right, I completely understand. Feel free to reach out whenever you're ready.</p>\n\n<p>Wishing you and the team at <strong>{{ $('Format Lead Data').item.json.Company }}</strong> continued success!</p>\n\n<p>Best regards,<br>\n<strong>Pavithra H N</strong></p>",
        "options": {}
      },
      "id": "send-email-3",
      "name": "Send Final Email 3",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [4050, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "workflow-end",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [4250, 100]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Input Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Input Rows": {
      "main": [
        [
          {
            "node": "Filter Unprocessed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unprocessed": {
      "main": [
        [
          {
            "node": "Apollo.io - Search People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo.io - Search People": {
      "main": [
        [
          {
            "node": "Loop Through Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Profiles": {
      "main": [
        [
          {
            "node": "Apollo.io - Get Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Input as Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo.io - Get Contact": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "Save to Lead Contact Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Lead Contact Form": {
      "main": [
        [
          {
            "node": "Send Email 1 (Initial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email 1 (Initial)": {
      "main": [
        [
          {
            "node": "Mark Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Email Sent": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Check for Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Response": {
      "main": [
        [
          {
            "node": "IF No Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF No Response": {
      "main": [
        [
          {
            "node": "Send Follow-up Email 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Response Yes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up Email 2": {
      "main": [
        [
          {
            "node": "Wait 5 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Response Yes": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Days": {
      "main": [
        [
          {
            "node": "Check for Response 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Response 2": {
      "main": [
        [
          {
            "node": "IF No Response 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF No Response 2": {
      "main": [
        [
          {
            "node": "Send Final Email 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Final Email 3": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Input as Completed": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "LinkedIn",
      "createdAt": "2026-01-16"
    },
    {
      "name": "Lead Generation",
      "createdAt": "2026-01-16"
    },
    {
      "name": "Email Outreach",
      "createdAt": "2026-01-16"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-16",
  "versionId": "1"
}
